* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Nunito", sans-serif;
}
body {
	background-color: rgb(104,100,180);
	background-color: linear-gradient(90deg, rgba(104,100,180,1) 0%, rgba(102,123,217,1) 6%, rgba(0,198,255,1) 100%);
  }

button {
	border: none;
	outline: none;
	width: 100%;
	padding: 15px 0;
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
	background: #112661;
	cursor: pointer;
}

.login {
	width: 100%;
	min-height: 100vh;
	padding: 0 20px;
	background-color: rgb(104,100,180);
	background-color: linear-gradient(90deg, rgba(104,100,180,1) 0%, rgba(102,123,217,1) 6%, rgba(0,198,255,1) 100%);
	display: flex;
}

.login .loginContainer {
	padding: 60px;
	margin: auto;
	width: 100%;
	max-width: 520px;
	min-height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: rgb(31, 75, 158);
	box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer title {
	color: white;
	margin: 14px 0;
	display: block;
	font-weight: bold;
	font-size: 30px;
	line-height: 1;
	text-align: center;
}

.login .loginContainer label {
	color: white;
	margin: 14px 0;
	display: block;
	font-size: 22px;
	line-height: 1;
}

.login .loginContainer input {
	width: 100%;
	border: none;
	outline: none;
	font-size: 19px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
	letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
	width: 100%;
	padding: 24px 0;
}

.login .loginContainer .btnContainer p {
	margin: 14px 0 0 0;
	text-align: right;
	color: #fff;
}

.login .loginContainer .btnContainer p span {
	color: yellow;
	font-weight: 500;
	letter-spacing: 0.5px;
	margin-left: 5px;
	cursor: pointer;
	transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
	color: red;
}

.login .loginContainer .errorMsg {
	color: red;
	font-size: 16px;
}

.home {
	background-color: rgb(104,100,180);
	background-color: linear-gradient(90deg, rgba(104,100,180,1) 0%, rgba(102,123,217,1) 6%, rgba(0,198,255,1) 100%);
	width: 100vw;
	height: 100vh;
}

.home nav {
	background: rgb(31, 75, 158);
	width: 100%;
	padding: 20px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.home nav h2 {
	color: #ffffff;
}

.home nav button {
	width: 86px;
	padding: 8px 0;
	background: #112661;
}
.role-options {
	text-align: center;
}

.role-option {
	display: inline-block;
	margin-right: 20px;
}

.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 20%;
	transform: translate(-50%, -50%);
	background: rgb(31, 75, 158);
	padding: 20px;
	border-radius: 8px;
}

.modal label {
	color: white;
	display: block;
	margin-top: 20px;
}

.modal input,
.modal textarea {
	width: 100%;
	margin-top: 5px;
}

.modal textarea {
	height: 150px;
}


.modal button {
	background-color: #112661;
	margin-top: 20px;
	padding: 10px;
}

button.create-assignment-button {
	width: 500px;
	margin-right: 20px;
}
