/* CSS for post square */
.square {
	display: block;
	/* background: linear-gradient(to bottom right, #0ac2f5, #000000); */
	background: linear-gradient(to bottom right, #0ac2f5, #082c3f, #000000);
	width: 300px;
	height: 300px;
	border-radius: 20px;
	padding: 20px;
	margin: 20px auto;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	color: white;
	border: solid 1px white;
}

.square:hover {
	opacity: 0.7;
}

.square button {
	border-radius: 50px;
	color: white;
	font-size: 15px;
	width: 75px;
	margin-top: 150px;
	float: right;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.square button:hover {
	border: solid 1px white;
	opacity: 0.6;
}

/* .square button:active {
	opacity: 0;
} */

.accept {
	background-color: rgb(42, 207, 236);
}

.upload {
	background-color: rgb(231, 160, 5);
}

.submit {
	background-color: rgb(20, 223, 108);
}
