.post-div{
    display: flex;
    margin: auto auto;
    width: 500px;
    background-color: cyan; 
    padding: 30px 0px 30px 0px;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}







